<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700" rel="stylesheet">
    <!-- <link rel="stylesheet" href="style.css"> -->
   <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/fonts/font-awesome/css/font-awesome.css">
</head>
</head>

<body>
    <div class="container">
        <div class="slider-contacts padding-site">
            <div class="header">
                <a class="logo" href="index.html"><img src="img/logo.svg" alt="logo"></a>
                <ul class="menu">
                    <li><a href="index.html" class="menu-link-active menu-link">HOME </a></li>
                    <li><a href="products.html" class="menu-link">PRODUCTS </a></li>
                    <li><a href="#" class="menu-link">HISTORY </a></li>
                    <li><a href="#" class="menu-link">SHOWROOM</a></li>
                    <li><a href="contacts.html" class="menu-link">CONTACT</a></li>
                    <li><a href="#" class="menu-link"><img src="img/search.svg" alt="search"></a></li>
                </ul>
            </div>
            <div class="slider-text-contacts">            
                <h2 class="slider-h2-contacts">Contact Us</h2>
            </div>
        </div>

        <div class="block-1-contacts padding-site">

            <div class="marg">
                <div class="area-1-contacts">
                    <img src="img/cursor.jpg" alt="">
                    <p class="text-banner">California</p>
                    <div class="contacts">
                        <p class="phone">Phone:</p>
                        <p class="numbers"> 1900 - 1234 -5678</p>
                        <p>Email:</p>
                        <p class="numbers"> info@interior.com</p>
                        <p class="phone"> Address:</p>
                        <p class="address"> 12 W 1st St, 90001 Los Angeles, California</p>
                    </div>
                </div>
                <div class="area-1-contacts">
                    <img src="img/cursor.jpg" alt="">
                    <p class="text-banner">California</p>
                    <div class="contacts">
                        <p class="phone">Phone:</p>
                        <p class="numbers"> 1900 - 1234 -5678</p>
                        <p>Email:</p>
                        <p> info@interior.com</p>
                        <p> Address:</p>
                        <p class="address"> 12 W 1st St, 90001 Los Angeles, California</p>
                    </div>
                </div>
                <div class="area-1-contacts">
                    <img src="img/cursor.jpg" alt="">
                    <p class="text-banner">California</p>
                    <div class="contacts">
                        <p class="phone">Phone:</p>
                        <p class="numbers"> 1900 - 1234 -5678</p>
                        <p>Email:</p>
                        <p> info@interior.com</p>
                        <p> Address:</p>
                        <p class="address"> 12 W 1st St, 90001 Los Angeles, California</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="footer padding-site">
            <div class="contact_us">
                <p class="footer-h2">contact us</p>
                <p class="footer_p">132A Bridge Road Richmond VIC Australia.</p>
                <p class="footer_p">Talk to us on 1300 132
                    info@interior.com</p>
            </div>
            <div class="user-inf">
                <p class="footer-h2">Useful Information</p>
                <div class="colums">
                    <p class="footer-pB">Sales terms Customer care Delivery</p>
                    <p class="footer-pB2">Architect accounts <br> Careers <br> Exchanges &amp; returns</p>
                </div>
            </div>
            <div class="stay">
                <p class="footer-h2">Let’s Stay in Touch!</p>
                <p class="footer-p1">Suscribe to know about our latest news, products and special offers just for suscribers.</p>
                <p><input class="emeil" type="email" placeholder="   your email address" alt="emeil"></p>
            </div>

            <div class="footer_bottom">


                <p class="bottom-p">&copy;&nbsp;Copyright&nbsp;&mdash; INTERIOR 2016. All Rights Reserved.</p>


                <p><img src="img/social-links.png" alt=""></p>

                <p>Terms &amp;&nbsp;Conditions&nbsp;/ Privacy policy &amp;&nbsp;Cookies</p>


            </div>
        </div>
    </div>

</body>

</html>
