<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <div class="slider-contacts-prod padding-site">
            <div class="header">
                <a class="logo" href="index.html"><img src="img/logo.svg" alt="logo"></a>
                <ul class="menu">
                    <li><a href="index.html" class="menu-link-active menu-link">HOME </a></li>
                    <li><a href="products.html" class="menu-link">PRODUCTS </a></li>
                    <li><a href="#" class="menu-link">HISTORY </a></li>
                    <li><a href="product-deals.html" class="menu-link">SHOWROOM</a></li>
                    <li><a href="contacts.html" class="menu-link">CONTACT</a></li>
                    <li><a href="#" class="menu-link"><img src="img/search.svg" alt="search"></a></li>
                </ul>
            </div>
            <div class="slider-text-contacts">
                <h2 class="slider-h2-contacts">Our Products Range</h2>
            </div>
        </div>
        <div class="main-menu-prod padding-site">
            <ul class="menu-head">
                <li class="menu-link-all">All</li>
                <li class="menu-link-head"> HOME</li>
                <li class="menu-link-head">OFFICE </li>
                <li class="menu-link-head">FURNITURE </li>
                <li class="menu-link-head">MODERN</li>
                <li class="menu-link-head">CLASSIC</li>
            </ul>
        </div>

        <div class="marg-prod padding-site">
            <div class="area-prod">
                <a href="#"> <img src="img\product-11.png" alt="product-11"></a>
            </div>
            <div class="area-prod">
                <a href="#"> <img src="img\product-21.jpg" alt="product-21"></a>
            </div>
            <div class="area-prod">
                <a href="#"> <img src="img\product-31.jpg" alt="product-31"></a>
            </div>
            <div class="area-prod">
                <a href="#"> <img src="img\product-41.jpg" alt="product-41"></a>
            </div>
            <div class="area-prod">
                <a href="#"> <img src="img\product-5.jpg" alt="product-5"></a>
            </div>
            <div class="area-prod">
                <a href="#"> <img src="img\product-61.jpg" alt="product-6"></a>
            </div>
            <div class="area-prod">
                <a href="#"> <img src="img\product-11.jpg" alt="product-11"></a>
            </div>
            <div class="area-prod">
                <a href="#"> <img src="img\product-21.jpg" alt="product-21"></a>
            </div>
            <div class="area-prod">
                <a href="#"> <img src="img\product-31.jpg" alt="product-31"></a>
            </div>
        </div>
        <div class="circle-arrow">
            <img src="img/circle-arrow.jpg" alt="circle-arrow.">
        </div>




        <div class="block">
            <div class="block-left">
                <div class="block-padding">
                    <h1 class="text-exc">exclusive</h1>
                    <h2 class="text-prod">Fishnet Chair</h2>
                    <h3 class="text-ob">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt</h3>
                    <a href="#" class="button">order us</a>
                </div>
            </div>
            <div class="block-right">
                <div class="block-padding">
                    <h1 class="text-exc">exclusive</h1>
                    <h2 class="text-prod">Fishnet Chair</h2>
                    <h3 class="text-ob">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt</h3>
                    <a href="#" class="button">order us</a>
                </div>
            </div>
        </div>


        <div class="footer padding-site">
            <div class="contact_us">
                <p class="footer-h2">contact us</p>
                <p class="footer_p">132A Bridge Road Richmond VIC Australia.</p>
                <p class="footer_p">Talk to us on 1300 132
                    info@interior.com</p>
            </div>
            <div class="user-inf">
                <p class="footer-h2">Useful Information</p>
                <div class="colums">
                    <p class="footer-pB">Sales terms Customer care Delivery</p>
                    <p class="footer-pB2">Architect accounts <br> Careers <br> Exchanges &amp; returns</p>
                </div>
            </div>
            <div class="stay">
                <p class="footer-h2">Let’s Stay in Touch!</p>
                <p class="footer-p1">Suscribe to know about our latest news, products and special offers just for suscribers.</p>
                <p><input class="emeil" type="email" placeholder="   your email address" alt="emeil"></p>
            </div>

            <div class="footer_bottom">


                <p class="bottom-p">&copy;&nbsp;Copyright&nbsp;&mdash; INTERIOR 2016. All Rights Reserved.</p>


                <p><img src="img/social-links.png" alt=""></p>

                <p>Terms &amp;&nbsp;Conditions&nbsp;/ Privacy policy &amp;&nbsp;Cookies</p>


            </div>
        </div>
    </div>
{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block content %}
  <div class="details">
    <div class="links clearfix">
      {% include 'mainapp/includes/inc_categories_menu.html' %}
    </div>

    <div class="details-products">
      <div class="details-slider">
        <div class="slider-product">
          <img src="/media/{{ product.image }}"
               alt="{{ product.short_desc }}">
        </div>
        <div class="slider-control">
          <div class="block">
            <a href="#">
              <img src="/media/{{ product.image }}" alt="вариант 1">
            </a>
          </div>
          <div class="block">
            <a href="#">
              <img src="/media/{{ product.image }}" alt="вариант 2">
            </a>
          </div>
          <div class="block">
            <a href="#">
              <img src="/media/{{ product.image }}" alt="вариант 3">
            </a>
          </div>
        </div>
      </div>

      <div class="description">
        <h3 class="big-bold">{{ product.name }}</h3>
        <br>
        <p class="price"> {{ product.price }} <span>руб</span></p>
        <a href="{% url 'basket:add' product.pk %}" class="red-button">
          заказать
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </a>
        <div class="description-text">
          {{ product.description }}
        </div>
      </div>
    </div>

  </div>

  <div class="clr"></div>

</body>

</html>
