<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Продукты</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/fonts/font-awesome/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700" rel="stylesheet">
    <!--<link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/fonts/font-awesome/css/font-awesome.css">
</head>

<body>

    <div class="container ">
        <div class="head  ">
            <div class="header padding-site">
                <a class="logo" href="#"><img src="/static/img/logo.svg" alt="logo"></a>
                <ul class="menu">
                    <li><a href="/" class="menu-link-active menu-link">HOME </a></li>
                    <li><a href="/products/" class="menu-link">PRODUCTS </a></li>
                    <li><a href="#" class="menu-link">HISTORY </a></li>
                    <li><a href="#" class="menu-link">SHOWROOM</a></li>
                    <li><a href="/contact/" class="menu-link">CONTACT</a></li>
                    <li><a href="#" class="menu-link"><img src="/static/img/search.svg" alt="search"></a></li>
                </ul>
            </div>
            <div class="main-menu">
                <ul class="menu-head">
                    <li class="menu-link-all">All</li>
                    <li class="menu-link-head"> HOME</li>
                    <li class="menu-link-head">OFFICE </li>
                    <li class="menu-link-head">FURNITURE </li>
                    <li class="menu-link-head">MODERN</li>
                    <li class="menu-link-head">CLASSIC</li>
                </ul>
            </div>
        </div>
        <div class="product-slider padding-site">
            <div class="image-block-left">
                <img src="/static/img/slider1.png" alt="slider">
                <div class="slider-img">
                    <img src="/static/img/controll.png" alt="controll">
                    <img src="/static/img/controll11.png" alt="controll1">
                    <img src="/static/img/app-store2.png" alt="app-store2">
                </div>
            </div>
            <div class="image-block-right">
                <p class="h3-right">Fishnet Chair</p>
                <p class="h4-right">Hot Deal</p>
                <div class="price-block"><p class="dollar">$</p><p class="price">36,7</p><p class="sq">/sq</p> </div>
                <a style="color: aliceblue" href="#" class="button-prod">order us &gt;</a>
                <p class="prod-text">he majesty of Mountains - Ugmonk style. <br><br>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore <br><br>
 et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br><br>
Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
            </div>
        </div>
              <div class="block-2 padding-site" style="height: 622px">
            <div class="block-head">
                <p class="menu-2">Related Products</p>
                <a href="#" class="block-head-explore-2">explore all &gt;</a>
            </div>
            <div class="prod-photo">
                <div><img class="image" src="/static/img/product-11.jpg" alt="">
                </div>
                <div><img class="image" src="/static/img/product-21.jpg" alt=""></div>
                <div><img class="image" src="/static/img/product-31.jpg" alt=""></div>
               
            </div>
        </div>
        <div class="footer padding-site">
            <div class="contact_us">
                <p class="footer-h2">contact us</p>
                <p class="footer_p">132A Bridge Road Richmond VIC Australia.</p>
                <p class="footer_p">Talk to us on 1300 132
                    info@interior.com</p>
            </div>
            <div class="user-inf">
                <p class="footer-h2">Useful Information</p>
                <div class="colums">
                    <p class="footer-pB">Sales terms Customer care Delivery</p>
                    <p class="footer-pB2">Architect accounts <br> Careers <br> Exchanges &amp; returns</p>
                </div>
            </div>
            <div class="stay">
                <p class="footer-h2">Let’s Stay in Touch!</p>
                <p class="footer-p1">Suscribe to know about our latest news, products and special offers just for suscribers.</p>
                <p><input class="emeil" type="email" placeholder="   your email address" alt="emeil"></p>
            </div>

            <div class="footer_bottom">
               

                    <p class="bottom-p">&copy;&nbsp;Copyright&nbsp;&mdash; INTERIOR 2016. All Rights Reserved.</p>


                    <p><img src="/static/img/social-links.png" alt=""></p>

                    <p>Terms &amp;&nbsp;Conditions&nbsp;/ Privacy policy &amp;&nbsp;Cookies</p>

                
            </div>
        </div>
    </div>

</body>

</html>
